{% extends 'base.html.twig' %}
      
{% block title %}Symfony React Api Login Test{% endblock %}
 
 {% block body %}
     <h1>Symfony React Api Login Test</h1>
     
     <div id="app"></div>
   
 {% endblock %}